# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

env.bak/
venv.bak/

# Python egg info
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.egg
*.whl

# Environment variable files
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Logs and databases
*.log
*.sqlite3

# Docker
**/Dockerfile
**/docker-compose.yml
__docker_cache__/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Ignore python library
fb-downloader/lib/

